<head>
  <title>Add comment</title>
  <link type="text/css" href='style.css' rel='stylesheet'>
  </style>
</head>

<body>
<form action='/comment' method='post'>
  <label for='comment'> Add comment </label>
  <input type='text' name='comment'>
  <input type='submit' value='submit'>
</form>
</body>
